<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
<th:block th:if="${alert}">
    <p th:text="${alert}"></p>
</th:block>
<a href="/create_category">Create new category</a>
<h1>Categories</h1>
<table border="1px solid black">
    <tr>
        <td>Name</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="category : ${categories}">
        <tr>
            <td><a th:href="@{/view_category/__${category.id}__}" th:text="${category.name}"></a></td>
            <td><a th:href="@{/edit_category/__${category.id}__}">Edit</a></td>
            <td><a th:href="@{/delete_category/__${category.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>